<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:border-width="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parking lot - best parking application</title>
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>

<div th:replace="header :: header">...</div>

<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Parkings</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/menu}">Menu</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Parkings</li>
            </ul>
        </div>
    </div>
</section>

<div class="site-section">

    <div class="table-responsive-md">
        <div class="row mb-4">
            <div class="col-md-7">
                <h3 class="heading-21921">Available Parking</h3>
            </div>
        </div>
        <table class="table-striped dataTable">
            <thead class="table-dark">
            <tr>
                <th class="sorting" scope="col">
                    <a th:href="@{'/reserve/page/' + ${currentPage} + '?sortField=adress&sortDir=' + ${reverseSortDir}}">Adress</a>
                </th>
                <th class="sorting" scope="col">
                    <a th:href="@{'/reserve/page/' + ${currentPage} + '?sortField=cityName&sortDir=' + ${reverseSortDir}}">cityName</a>
                </th>
                <th class="sorting" scope="col">
                    <a th:href="@{'/reserve/page/' + ${currentPage} + '?sortField=spacesInTotal&sortDir=' + ${reverseSortDir}}">spacesInTotal</a>
                </th>
                <th class="sorting" scope="col">
                    <a th:href="@{'/reserve/page/' + ${currentPage} + '?sortField=freeSpaces&sortDir=' + ${reverseSortDir}}">freeSpaces</a>
                </th>
                <th class="sorting" scope="col">
                    <a th:href="@{'/reserve/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">price</a>
                </th>
                <td>action</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="parking : ${parkings}">
                <td th:text="${parking.adress}"></td>
                <td th:text="${parking.cityName}"></td>
                <td th:text="${parking.spacesInTotal}"></td>
                <td th:text="${parking.freeSpaces}"></td>
                <td th:text="${parking.price}"></td>
                <div th:if="${parking.freeSpaces != 0}">
                    <td>
                        <a th:href="@{/getParkingSpot(adress=${parking.adress})}">reserve parking</a>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-style text-center mt-5">
        <ul>
            <li>
                <a th:if="${currentPage > 1}" th:href="@{'/reserve/page/' + ${currentPage - 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                    <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                </a>
                <a th:unless="${currentPage > 1}" class="not-allowed" disabled="">
                    <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                </a>
            </li>
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <li>
                <a th:if="${currentPage != i}" th:href="@{'/reserve/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <a class="active" th:unless="${currentPage != i}">[[${i}]]</a>
            </li>
            </span>
            <li>
                <a th:if="${currentPage < totalPages}" th:href="@{'/reserve/page/' + ${currentPage + 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                </a>
                <a th:unless="${currentPage < totalPages}" class="not-allowed" disabled="">
                    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- //pagination -->
    <div class="text-center mt-5">
        <a th:href="@{/menu}">
            <button class="btn btn-style btn-style-3">BACK</button>
        </a>
    </div>
</div>

<!-- footer block -->
<div th:replace="footer :: footer">...</div>
<!-- //footer block -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- counter-->
<script src="/assets/js/counter.js"></script>
<!-- //counter-->

<script src="/assets/js/theme-change.js"></script>

<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>

<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>

<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>